@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "ListRole";
}

<h1>All Roles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model.Any())
{
<table class="table">
    <thead>
        <tr>
            <th>
                Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                <a asp-action="RoleUser" asp-controller="Administrator" asp-route-id="@item.Id">View Role User</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
